export const firebaseInit = {
  apiKey: 'AIzaSyA2hwhmD0vDVwkFhbpx2ctANzUEIaedrKw',
  authDomain: 'albums-be76e.firebaseapp.com',
  databaseURL: 'https://albums-be76e.firebaseio.com',
  projectId: 'albums-be76e',
  storageBucket: 'albums-be76e.appspot.com',
  messagingSenderId: '424819949714'
};
